.form {
    width: 80%;
    margin: 10% auto;
    padding: 2%;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    /* background-image: url('https://resizer.glanacion.com/resizer/Hh3qhXZlvoN_ca4Rnw35zoUqvZQ=/768x0/filters:quality(80)/cloudfront-us-east-1.images.arcpublishing.com/lanacionar/PWDMBQSTI5FRPNIIHXHLRARJAQ.jpg'); */
}

.alkemy-form-label {
    font-size: 2em;
}

.alkemy-form-control {
    text-align: center;
}

.labelInput {
    width: 100%;
    margin-bottom: 5%;
}

/* IPAD PRO */
@media screen and (max-width:1200px) {
    
}

/* IPAD PRO */
@media screen and (max-width:1024px) and (max-height: 1366px) {
    
}

/* NEXUS 10 */
@media screen and (max-width:800px) and (max-height: 1280px) {
    
}

/* Blackberry Playbook  */
@media screen and (max-width: 600px) and (max-height: 1024px) {
    .form {
    }
}

/* Iphone X */
@media screen and (max-width: 375px) and (max-height: 812px) {
    
}