.containerSearch {
    width: 70%;
    height: auto;
    margin: 0 auto 10% auto;
    /* border: 2px solid #000;
    border-radius: 10px; */
    padding: 7%;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1%;
    justify-content: center;
    align-items: flex-start;
}