.searchContainer {}

.formContainer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchForm {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
}

.searchLabel {
    display: inline-block;
    font-size: 1.2em;
    margin-right: 2%;
    width: 100%;
}

.bmd-form-group {
    padding-top: 0;
    position: inherit;
}

.searchInput {
    display: inline-block;
}

.searchInput:focus {
    border: none !important;
    box-shadow: none !important;
}

.btn-search {
    margin: auto;
    margin-left: 3%;
}