.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    cursor: pointer;
}

/* IPAD PRO */
@media screen and (max-width:1200px) {
    .menu {
        
    }
}

/* IPAD PRO */
@media screen and (max-width:1024px) and (max-height: 1366px) {
    .menu {

    }
}

/* NEXUS 10 */
@media screen and (max-width:800px) and (max-height: 1280px) {
    .menu {
        /* width: 56vw; */
        display: flex;
        flex-direction: column;
    }
    .nav-link {
        font-size: 1em !important;
    }
}

/* Blackberry Playbook  */
@media screen and (max-width: 600px) and (max-height: 1024px) {
    .menu {
        /* width: 56vw; */
    }
    .nav-link {
        font-size: 1em !important;
    }
}

/* Iphone X */
@media screen and (max-width: 375px) and (max-height: 812px) {
    .menu {
        /* width: 100vw; */
    }
    .nav-link {
        font-size: 0.7em !important;
    }
}